@model IEnumerable<ScheduleProg.Models.Pare>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
@foreach (var item in ViewBag.monday_item) {
    <div class="card-columns border">
        
                @item.Week_Day
    </div>
     <div class="card-columns border">
          @item.Semester.Id
    </div>
     <div class="card-columns border">
          @item.Subject.Discipline_Name
    </div>
     <div class="card-columns border">
         
                @item.Teacher.First_Name @item.Teacher.Last_Name
    </div>
     <div class="card-columns border">
         
              @item.PairTime.Begin_Time - @item.PairTime.End_Time
          
    </div>
       
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
     
}
    </tbody>
</table>
